<main class="container">
  <h2 class="px-5 mt-3">Sign Up</h2>
  <div
    class="container d-flex flex-column justify-content-center align-items-center text-dark"
  >
    <form
      action="/signup"
      method="POST"
      enctype="multipart/form-data"
      class="d-flex flex-column rounded-3 frame gap-2"
    >
      <label for="firstName">First name</label>
      <input type="text" name="firstName" required />

      <label for="lastName">Last name</label>
      <input type="text" name="lastName" required />

      <label for="email">Email</label>
      <input type="email" name="email" required />

      <label for="password">Password</label>
      <input type="password" name="password" required />

      <label for="profileImage">Profile picture</label>
      <input type="file" name="profileImage" />

      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="/" class="btn btn-dark mt-5">Already have an account? Log in!</a>
    </form>
    {{!   <a href="/">Back Home</a>
  |
  <a href="/login">Already a member?</a>
 }}
    {{#if errorMessage}}
      {{errorMessage}}
    {{/if}}
  </div>
</main>