<main id="planet-earth">
  <div
    class="container d-flex flex-column justify-content-center align-items-center text-white"
  >
    <h1 class="pb-4 mt-3">
      Sign Up
    </h1>

    <form
      action="/signup"
      method="POST"
      enctype="multipart/form-data"
      class="d-flex flex-column rounded-3 frame10 gap-2"
    >
      <label for="firstName">First name</label>
      <input type="text" name="firstName" required />

      <label for="lastName">Last name</label>
      <input type="text" name="lastName" required />

      <label for="email">Email</label>
      <input type="email" name="email" required />

      <label for="password">Password</label>
      <input type="password" name="password" required />

      <label for="profileImage">Profile picture</label>
      <input type="file" name="profileImage" />

      <button type="submit" class="btn btn-primary">Sign Up</button>
      <a href="/" class="btn btn-dark mt-5">Already have an account? Log in!</a>
    </form>
    {{#if errorMessage}}
      <span class="alert alert-danger">
        {{errorMessage}}
      </span>
    {{/if}}
  </div>
</main>