<div class="container d-flex justify-content-center align-items-center flex-wrap-reverse">

  <div class="py-4">
    <h3>Hey
      {{user.firstName}}
      {{user.lastName}}
      !</h3>

    <h4>Today is a good day to plan some trips !</h4>
      <p class="my-5 d-flex justify-content-between">
        <a class="btn btn-primary" href="/profile/edit-profile-picture">Edit
          profile picture</a>
        <a class="btn btn-danger trick" href="/profile/delete-profile">Delete
          your account</a></p>

  </div>
  <div class="profile-section px-4">
    <img
      class="img-responsive img-thumbnail"
      src="{{user.profileImage}}"
      alt="users profile picture"
    />
    </div>

  </div>
</div>