<!-- Background image -->

<div id="planet-earth">
  {{! <img src="images/lights-planet-earth-europe.jpeg" alt="" /> }}
  <h1 class="text-white">
    Welcome to Trip Planner
  </h1>
</div>

<!-- Background image -->
{{!-- {{#if user}}
  <h6>Hey
    {{user.firstName}}, how can we help you today ?</h6>
  <a href="/logout">Log out</a>
  |
  <a href="/profile">Profile</a>
  |
  <a href="/trips">My Trips</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}} --}}