<h3>Welcome to Trip Planner</h3>
{{!-- {{#if user}}
  <h6>Hey
    {{user.firstName}}, how can we help you today ?</h6>
  <a href="/logout">Log out</a>
  |
  <a href="/profile">Profile</a>
  |
  <a href="/trips">My Trips</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}} --}}