<p>Welcome to Trip Planner</p>
{{#if user}}
  <h3>Hey,
    {{user.username}}</h3>
  <a href="/logout">Log out</a>
  |
  <a href="/profile">Profile</a>
  |
  <a href="/trips">My Trips</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}}