<!-- Background image -->

<div id="planet-earth" style="position:relative; background-color:black;">
  {{! <img src="images/lights-planet-earth-europe.jpeg" alt="" /> }}
  <h1 style="position:absolute; top:100px; left:20px; color:white;">
    Welcome to Trip Planner
  </h1>
</div>

<!-- Background image -->
{{!-- {{#if user}}
  <h6>Hey
    {{user.firstName}}, how can we help you today ?</h6>
  <a href="/logout">Log out</a>
  |
  <a href="/profile">Profile</a>
  |
  <a href="/trips">My Trips</a>
{{else}}
  <a href="/login">Login</a>
  |
  <a href="/signup">Sign Up</a>
{{/if}} --}}