<main id="planet-earth">
  <div
    class="container d-flex flex-column justify-content-center align-items-center text-white"
  >
    <h1 class="pb-4 mt-3">
      Welcome to Trip Planner
    </h1>
    <form
      class="d-flex flex-column rounded-3 frame gap-2"
      action="/login"
      method="POST"
    >
      <input type="email" name="email" placeholder="Input email" required />

      <input
        type="password"
        name="password"
        placeholder="Input password"
        required
      />

      <button type="submit" class="btn btn-primary">Login</button>
      {{#if errorMessage}}
        <span class="alert alert-danger">
          {{errorMessage}}
        </span>
      {{/if}}
      <a href="/signup" class="btn btn-dark mt-5">Not a member yet? Register for
        free!</a>
    </form>
  </div>

</main>