body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

aside {
  display: flex;
  flex-direction: column;
}

#map {
  border: 2px solid black;
  width: 50%;
  height: 90vh;
}
.trip-cards {
  width: 18rem;
}

.profile-header-img > img.img-circle {
  width: 120px;
  height: 120px;
  border: 2px solid #00b7ff;
}

.profile-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.trip-details {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
aside {
  width: 50%;
  height: auto;
}
.selected {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: bold;
}

#planet-earth {
  padding: 0;
  background-image: url("../images/lights-planet-earth-europe.jpeg");
  background-size: cover;
  height: 100%;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#mode-selector {
  position: absolute;
  margin-top: 82vh;
  z-index: 1;
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
