body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

aside {
  display: flex;
  flex-direction: column;
}

#map {
  border: 2px solid black;
  width: 50%;
  height: 90vh;
}
.card {
  width: 18rem;
}
