<h1>Your trip to XXX</h1>

<div class="country-info-section">
  <h2>Countries Info</h2>

  <div>
    <input id="country-name-input" type="text" />
    <button id="get-country-btn">Get the country</button>
  </div>

  {{!   <div>
    <input id="city-name-input" type="text" />
    <button id="get-city-btn">Get the city</button>
  </div> }}

  <h2 id="country-name"></h2>
  <p id="country-capital"></p>
  <div>
    <img id="country-flag" src="" height="200px" />
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/countriesInfos.js"></script>
<script src="/js/poi.js"></script>